<div class="table-container">
  <div class="table-header">
    <button mat-raised-button color="primary" (click)="editEntity(-1)" style="margin-left: auto;">
      +
    </button>
  </div>
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{ column }} </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="column === 'actions'">
          <button mat-icon-button (click)="editEntity(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteEntity(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-container>

        <ng-container *ngIf="column !== 'actions'">
          <ng-container *ngIf="isObject(element[column])">
            <div *ngFor="let key of objectKeys(element[column])">
              <strong>{{ key }}:</strong> {{ displayObject(element[column][key]) }}
            </div>
          </ng-container>
          <ng-container *ngIf="!isObject(element[column])">
            {{ element[column] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>
